<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="../static/css/tailwind.css" rel="stylesheet">
    <style>
        .font-gamified {
            font-family: 'Press Start 2P', cursive;
        }
    </style>
    <title>Poker-mon</title>
</head>
<body>
    <div class="relative">
        <img src="../static/images/TitleBackground1.png" class=" w-full" alt="">
        <a href="">
            <h1 id="startHeading" class="absolute top-[5%] left-1/2 transform -translate-x-1/2 text-7xl text-yellow-200 font-gamified font-bold ">Poker-mon</h1>
        </a>
        
    
    </div>
   
</body>
</html>